body {
  max-width: 100%;
  background-color: #ece2d7;
  font-family: 'Cabin', sans-serif, georgia;
  color: #57200b;
}

/*header*/

.navBar {
  width: 100%;
  height: 5%;
  text-align: center;
}

.navBar a {
  font-size: 20px;
  margin: 30px;
  text-decoration: none;
  color: #57200b;
}

#active-link {
  color: #c05723;
}

/*title and logo*/
h1 {
  text-align: center;
  margin-top: 40px;
  color: #c05723;
  font-size: 48px;
  letter-spacing: 2px;
}

#logo{
  max-width: 15%;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 40px;
}

/*page content starts*/

.about-us{
  width: 70%;
  height:853px;
  margin: auto;
  background-image: url("images/coffeecookie.jpg");
  background-repeat: no-repeat;
}

#textbox {
  width: 30%;
  padding: 5px;
  margin-left: 65%;
}

#textbox h3 {
  color: #c05723;
  margin-top: 75%;
  font-size: 30px;
}

#textbox p {
  color: #c05723;
  font-size: 20px;
}


/**
#c05723 - orange
#57200b - brown
#cb9f5e - in between
#DDBDA0 - contrast background
**/
